<launch>
    <!-- Setting up parameters for image_segmentation module and lidar module -->
    <arg name="main_path" default="$(find bugcar_perception_stack)"/>
    <rosparam file="$(arg main_path)/cfg/common_road_curb_param.yaml" command="load" ns="road_curb"/>

    <!-- running computer vision tasks here -->
    <group ns="map">        
        <node name="laser_realsense_front" pkg="bugcar_perception_stack" output="screen" type="use_rs_as_lidar_ros.py">
            <rosparam file="$(arg main_path)/cfg/front_road_curb.yaml" command="load"/>
        </node>
        <node name="laser_realsense_back" pkg="bugcar_perception_stack" type="use_rs_as_lidar_ros.py">
            <rosparam file="$(arg main_path)/cfg/back_road_curb.yaml" command="load"/>
        </node>
    </group>
</launch>
